<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Htmx and Php</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>

<body>
    <form hx-post="/contact.php">
        <label for="name">Name: <input id="name" type="text"></label>
        <br />
        <label for="email">Email: <input id="email" type="email"></label>
    </form>
    <hr />
    @foreach $contacts as $contact
    <div hx-get="/contact.php">
        <h2>{{ $name }}</h2>
        <p>{{ $email }}</p>
    </div>
    @end
</body>

<style>
    label input {
        margin: 10px;
        cursor: pointer;
    }

    input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
</style>

</html>
