<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Htmx and Php</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>

<body>
    <form hx-post="/contact.php" hx-target="#contacts">
        <label>Name: <input name="name" type="text"></label>
        <br />
        <label>Email: <input name="email" type="email"></label>
        <br />
        <button type="submit">Submit</button>
    </form>
    <hr />
    <div id="contacts">@render contacts</div>
</body>

<style>
    label:has(input) {
        margin: 10px;
        cursor: pointer;
    }

    input {
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button[type="submit"] {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>

</html>

@block contacts
@foreach $contacts as $contact
<div hx-get="/contact.php">
    <h2>{{ $name }}</h2>
    <p>{{ $email }}</p>
</div>
@endfor
@endblock
